{
    "status": "ok",
    "totalResults": 98,
    "articles": [
        {
            "source": {
                "id": null,
                "name": "SamMobile"
            },
            "author": "Asif Iqbal Shaik",
            "title": "Samsung confirms the Galaxy Z Fold 7 will bring bigger cover and foldable displays - SamMobile",
            "description": "On Tuesday, we reported that Samsung is rolling out a software update to the Galaxy Buds 2 Pro. Well, as it turns out, the South Korean tech giant has released a software update to its sibling as well, the Galaxy Buds 2. According to the change log, the softw…",
            "url": "https://www.sammobile.com/news/galaxy-buds-2-stability-improving-software-update/",
            "urlToImage": "https://www.sammobile.com/wp-content/uploads/2025/03/Qualcomm.jpg",
            "publishedAt": "2025-06-03T23:03:45Z",
            "content": "Qualcomm has unveiled a new Snapdragon processor for premium mid-range phones. It is called the Snapdragon 7 Gen 4 (SM7750-AB), and it brings huge improvements in performance, thanks to a faster CPU,… [+2738 chars]",
            "location": [
                {
                    "location": "韩国",
                    "lat": 31.011230800211305,
                    "lng": 121.2385801812334
                }
            ]
        },
        {
            "source": {
                "id": null,
                "name": "GamesIndustry.biz"
            },
            "author": "Vikki Blake",
            "title": "Major US retailers cancel Nintendo Switch 2 pre-orders - GamesIndustry.biz",
            "description": "Major retailers in the US have started contacting customers to inform them their Nintendo Switch 2 pre-orders have been…",
            "url": "https://www.gamesindustry.biz/major-us-retailers-cancel-nintendo-switch-2-pre-orders",
            "urlToImage": "https://assetsio.gnwcdn.com/NintendoSwitch2_16x9_KeyArt.jpg?width=1200&height=630&fit=crop&enable=upscale&auto=webp",
            "publishedAt": "2025-06-03T21:58:03Z",
            "content": "Major retailers in the US have started contacting customers to inform them their Nintendo Switch 2 pre-orders have been canceled just days ahead of the console's formal release.\r\nDozensofposts have a… [+1387 chars]",
            "location": [
                {
                    "location": "美国",
                    "lat": 39.72929108046181,
                    "lng": 116.11203013582686
                }
            ]
        },
        {
            "source": {
                "id": null,
                "name": "SamMobile"
            },
            "author": "Mihai Matei",
            "title": "Samsung is struggling to sell the Galaxy S25 Edge - SamMobile",
            "description": "Samsung's latest smartphone, the super-slim Galaxy S25 Edge, has now gone on sale in the United States. The company had previously been accepting pre-orders for the device through its carriers and retail partners, as well as directly through its online store.…",
            "url": "https://www.sammobile.com/news/samsung-galaxy-s25-edge-is-now-on-sale-in-the-united-states/",
            "urlToImage": "https://www.sammobile.com/wp-content/uploads/2025/05/Galaxy-S25-Edge-design-5-1-1200x675.jpg",
            "publishedAt": "2025-06-03T11:20:13Z",
            "content": "Samsung hoped for the Galaxy S25 Edge to revitalize the mobile market and open the gates to a new revenue stream. Not just for itself but for the entire industry. Unfortunately, the new Galaxy S25 Ed… [+2274 chars]",
            "location": [
                {
                    "location": "美国",
                    "lat": 39.72929108046181,
                    "lng": 116.11203013582686
                }
            ]
        },
        {
            "source": {
                "id": null,
                "name": "SFGate"
            },
            "author": "Timothy Karoff",
            "title": "How one of San Francisco's most successful new chains 'just kind of happened' - SFGATE",
            "description": "San Francisco's Tunnel Records may not actually be Earth's westernmost record shop, but it's found the sort of success that's rare among small record stores.",
            "url": "https://www.sfgate.com/sf-culture/article/san-francisco-successful-chain-just-happened-20352034.php",
            "urlToImage": "https://s.hdnux.com/photos/01/50/34/75/27381569/3/rawImage.jpg",
            "publishedAt": "2025-06-03T11:13:11Z",
            "content": "Ben Wintroub cant find what hes looking for. King Tubby King Tubby he murmurs to himself, standing over a wooden record bin. Wheres the King Tubby?\r\nWere standing in the back corner of his shop, Tunn… [+10159 chars]",
            "location": [
                {
                    "location": "旧金山",
                    "lat": 25.06235305183837,
                    "lng": 102.7405164442598
                }
            ]
        },
        {
            "source": {
                "id": null,
                "name": "Space.com"
            },
            "author": "Samantha Mathewson",
            "title": "Private Japanese spacecraft aims to land in the moon's 'Sea of Cold' this week - Space",
            "description": "Touchdown is scheduled for 3:24 p.m. ET on Thursday (June 5).",
            "url": "https://www.space.com/astronomy/moon/private-japanese-spacecraft-will-attempt-to-land-in-the-moons-sea-of-cold-this-week",
            "urlToImage": "https://cdn.mos.cms.futurecdn.net/RMsgyPSfzbNnSDnsGZ72tZ.jpg",
            "publishedAt": "2025-06-02T16:00:00Z",
            "content": "The Japanese company ispace is poised to make a historic moon landing this week.\r\nThe company's Reslience lunar lander\r\n will attempt to touch down in Mare Frigoris (\"Sea of Cold\"), a basalt plain in… [+2693 chars]",
            "location": [
                {
                    "location": "日本的",
                    "lat": 31.293483853405103,
                    "lng": 120.56775697724416
                }
            ]
        },
        {
            "source": {
                "id": null,
                "name": "SamMobile"
            },
            "author": "Asif Iqbal Shaik",
            "title": "Samsung confirms the Galaxy Z Fold 7 will bring bigger cover and foldable displays - SamMobile",
            "description": "On Tuesday, we reported that Samsung is rolling out a software update to the Galaxy Buds 2 Pro. Well, as it turns out, the South Korean tech giant has released a software update to its sibling as well, the Galaxy Buds 2. According to the change log, the softw…",
            "url": "https://www.sammobile.com/news/galaxy-buds-2-stability-improving-software-update/",
            "urlToImage": "https://www.sammobile.com/wp-content/uploads/2025/03/Qualcomm.jpg",
            "publishedAt": "2025-06-03T23:03:45Z",
            "content": "Qualcomm has unveiled a new Snapdragon processor for premium mid-range phones. It is called the Snapdragon 7 Gen 4 (SM7750-AB), and it brings huge improvements in performance, thanks to a faster CPU,… [+2738 chars]",
            "location": [
                {
                    "location": "韩国",
                    "lat": 31.011230800211305,
                    "lng": 121.2385801812334
                  }
            ]
        }
    ]
}